<div class="form-wrapper">
  <div class="centerize card card-body">
    <form #f="ngForm" class="card card-body" (ngSubmit)="onSubmit(f)">
      <div class="form-label-group">
        <label for="name">Enter your name:</label>
        <input class="form-control" id="name" name="name" placeholder="Enter Your Name" type="text" ngModel
          #name="ngModel" required [ngClass]="{'is-invalid': name.errors && name.touched}">
        <div [hidden]="!name.errors?.required" class="invalid-feedback">
          Please Enter Your Name
        </div>
      </div>
      <button class="btn btn-primary mx-auto d-block" type="submit" [disabled]="!f.valid">Next</button>
    </form>
  </div>