<app-navbar></app-navbar>
<div class="card card-body" *ngFor="let volume of (wishlist | async).wishlist; let i = index">
  <div class="row">
    <div class="col-md-2 text-center">
      <img [src]="volume.volumeInfo.imageLinks.thumbnail" class="img-fluid" />
    </div>
    <div class="col-md-10">
      <h2>{{ volume.volumeInfo.title }}</h2>
      <h3>{{ volume.volumeInfo.subtitle }}</h3>
      <h4 *ngFor="let author of volume.volumeInfo.authors">
        {{ author }}
      </h4>
      <button class="btn btn-danger" (click)="onItemRemove(i)">Remove</button>
    </div>
  </div>
</div>