<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Welcome {{ (name | async).name }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/search" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/wishlist" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Wishlist</a>
        </li>
      </ul>
    </div>
  </nav>