<app-navbar></app-navbar>
<div class="row">
  <div class="col">
    <input type="text" (input)="onInput($event)" class="form-control" placeholder="Search For Books" [value]="query">
  </div>
</div>

<div class="card card-body mb-4" *ngFor="let volume of searchResults" (click)="onSelectItem(volume)" style="cursor: pointer;">
  <div class="row">
    <div class="col-md-2 text-center" *ngIf="searchResults">
      <img *ngIf="volume.volumeInfo.imageLinks" [src]="volume.volumeInfo.imageLinks.thumbnail" class="img-fluid" />
    </div>
    <div class="col-md-10" *ngIf="searchResults">

      <h2>{{ volume.volumeInfo.title }}</h2>
      <h3>{{ volume.volumeInfo.subtitle }}</h3>
      <h4 *ngFor="let author of volume.volumeInfo.authors">
        {{ author }}
      </h4>
    </div>
  </div>
</div>

<div class="row d-flex justify-content-between mb-4" *ngIf="searchResults">
  <a *ngIf="currentPage > 0" style="color:blue; cursor: pointer;" (click)="onPaginate(currentPage - 1)">
    <--Back</a> <a *ngFor="let numPage of array(numPages).slice(currentPage, currentPage + 5); let i = index"
      style="color:blue; cursor: pointer;" (click)="onPaginate(i + currentPage)">{{i + currentPage + 1}}
  </a>
  <a *ngIf="currentPage !== numPages - 1" style="color:blue; cursor: pointer;"
    (click)="onPaginate(currentPage + 1)">Next --></a>
</div>

<app-dialog-box *ngIf="selectedItem" [book]="selectedItem" (close)="onDialogClose()"></app-dialog-box>