<div class="backdrop" (click)="onClose()"></div>
<div class="alert-box">
  <div class="card card-body">
    <div class="row">
      <div class="col-md-2 text-center">
        <img *ngIf="book.volumeInfo.imageLinks" [src]="book.volumeInfo.imageLinks.thumbnail" class="img-fluid" />
      </div>
      <div class="col-md-10">
        <h2>{{ book.volumeInfo.title }}</h2>
        <h3>{{ book.volumeInfo.subtitle }}</h3>
        <h4 *ngFor="let author of book.volumeInfo.authors">
          {{ author }}
        </h4>
        <h5>
          <span>number of pages: {{ book.volumeInfo.pageCount }} </span>
          <span>publish date: {{ book.volumeInfo.publishedDate }} </span>
        </h5>
      </div>
    </div>
  </div>
  <div class="alert-box-actions">
    <button class="btn btn-success" (click)="onAddToWishList()">Add To Wishlist</button>
    <button class="btn btn-danger" (click)="onClose()">Close</button>
  </div>
</div>